<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="import" href="/dist/polymer-elements/elements.html">
        <link rel="stylesheet" href="/dist/css/vendor.css">
        <link rel="stylesheet" href="/dist/css/bundle.css">

        {{> favicon }}

        <title>{{ title }} - Meet-Up Event Planner</title>
    </head>

    <body class="fullbleed layout vertical">
        <paper-header-panel class="flex">

            <paper-toolbar class="horizontal layout">
                <span class="title">Meet-Up Event Planner</span>
                <collapse-toolbar query="(max-width: 600px)">
                    <paper-menu class="dropdown-content">
                        <paper-item>
                            <a href="/" title="Homepage">
                                <iron-icon icon="icons:home"></iron-icon>
                                Home
                            </a>
                        </paper-item>
                        <paper-item>
                            <a href="/events" title="Show Events List">
                                <iron-icon icon="maps:local-bar"></iron-icon>
                                Events
                            </a>
                        </paper-item>
                        <paper-item>
                            <login-register></login-register>
                        </paper-item>
                    </paper-menu>
                </collapse-toolbar>

            </paper-toolbar>

            <div class="main-content fit">

                {{{ body }}}

            </div>
        </paper-header-panel>

        {{> scripts }}

    </body>
</html>
