<div class="eventspage">
    <div class="container">
        <paper-fab id="addEventBtn"
            icon="add"
            title="Create new event"
            onclick="document.location.href='/add-event'">
        </paper-fab>
    </div>
</div>
