<div class="loginpage">
    <div class="container">
        <h2>Please log in</h2>
        <login-form></login-form>
        <div class="centered padding">
            <a href="/register" title="Go to register page">Create an account</a>
        </div>
    </div>
</div>
