<div class="regpage">
    <div class="container">
        <h2>Register</h2>
        <register-form></register-form>
        <div class="centered padding">
            <a href="/login" title="Go to login page">Login</a>
        </div>
    </div>
</div>
