$primary: #3F51B5;

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
    font-size: 14px;
}

paper-button {
    &.active {
        background-color: $primary;
        color: #ffffff;
    }
}

.centered {
    text-align: center;
}

.padding {
    padding: 10px;
}

.mainpage {
    position: relative;
    height: calc(100vh - 64px);
    background-image: url('/images/main-bg.jpg');
    background-size: cover;
    background-position: center center;
}

.main-content {

}
